/* src/App.css */
:root {
  --primary-color: #007bff;
  --secondary-color: #0056b3;
  --dark-bg:   #010a0a;
  --dark-card-bg:#293e47;
  --dark-text-color: #ffffff;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--dark-bg);
  color: var(--dark-text-color);
}
.app {
  text-align: center;
  /* padding: 20px; */
  height: 100svh;
  background: url('./assets/bgimage.jpg') no-repeat center center fixed;
  background-size: cover;
}

.content-wrapper {
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.leaderboard {
  background: var(--dark-card-bg);
  opacity: 0.6;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  max-width: 900px;
  /* margin: 15px auto; */
  position: relative;
}

.leader h1 {
  margin: 0 0 15px;
  padding: 20px;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--primary-color); */
  color: var(--dark-text-color);
}

.leader h1 svg {
  margin-right: 10px;
}

.leaderboard ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* opacity: 1; */
}

.leaderboard li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #747486;
  margin: 4px;
  position: relative;
  z-index: 1;
}

.leaderboard li:last-child {
  border-bottom: none;
}
.leaderboard .serial {
  width: 30px;
  text-align: right;
  margin-right: 15px;
  color: gold;
}
.leaderboard .serial-number {
  width: 30px;
  text-align: right;
  margin-right: 15px;
  /* color: gold; */
}

.leaderboard .username {
  flex: 1;
  text-align: left;
  color: #ffffff !important;
  /* font-weight: 400; */
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.button-container {
  text-align: center;
  margin: 20px 0;
}

.button-container button {
  background: var(--primary-color);
  color: var(--dark-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button-container button:hover {
  background: var(--secondary-color);
}

.score-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: var(--dark-bg); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-form {
  background: var(--dark-card-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
}

.score-form h3 {
  margin: 0 0 20px;
  font-size: 20px;
  color: var(--primary-color);
}

.score-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.score-form input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #9794af;
  border-radius: 4px;
  font-size: 20px;
  background: var(--dark-card-bg);
  color: var(--dark-text-color);
}

.score-form button {
  background: var(--primary-color);
  color: var(--dark-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.score-form button:hover {
  background: var(--secondary-color);
}

.score-form button[type="button"] {
  background: #f06553;
  margin-left: 10px;
}

.score-form button[type="button"]:hover {
  background: #df431c;
}

.footer {
  /* position: fixed; */
  bottom: 0;
  height: 80vh;
  background: url('./assets/footerimg.jpg') no-repeat center center fixed;
  background-size: cover;
  /* overflow: hidden; */
}


.marquee {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  letter-spacing: 2px;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


@media (max-width: 768px) {
  .leaderboard {
    margin: 10px;
    padding: 15px;
  }

  .leader h1 {
    font-size: 20px;
  }

  .leaderboard li {
    font-size: 14px;
    padding: 8px;
  }

  .button-container button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .score-form {
    width: 95%;
  }
}